_TEMP
_TEMP/*

test.sh

t.sh

test.txt

test_menu.sh

logo.html

draw.sh

albert.sh

bash_alias_old.sh

basic.conf

bashrc.backup.sh

neofetch.conf

.history/*
.history

new
new/*

_lab/dose.sh

media/ascii/*
media/toys/*

vault
vault/*
